<div class="mx-auto mt-20 text-center">
  <h1 class="mb-5 text-xl">Angular Tailwind Configuration - trungk18</h1>

  <img src="https://trungk18.com/img/profile.png"
       alt="trungk18"
       class="w-16 mx-auto mb-4 rounded-full">

  <a class="text-lg text-blue-500 hover:text-blue-800"
     href="https://trungk18.com/experience/configure-tailwind-css-with-angular">View the step by step guide to configure TailwindCSS and Angular</a>
  <section class="mt-1">

    <button class="px-4 py-2 font-semibold text-blue-700 bg-transparent border border-blue-500 rounded hover:bg-blue-500 hover:text-white hover:border-transparent">
      Submit
    </button>

    <button class="ml-2 btn-tailwind">Button with @apply</button>
  </section>
</div>