<div class="mx-auto mt-20 text-center">
  <h1 class="text-xl mb-5">Angular Tailwind Configuration - trungk18</h1>

  <img src="https://trungk18.com/img/profile.png"
       alt="trungk18"
       class="w-16 mx-auto rounded-full mb-4">

  <a class="text-lg text-blue-500 hover:text-blue-800"
     href="https://trungk18.com/experience/configure-tailwind-css-with-angular">View the step by step guide to configure TailwindCSS and Angular</a>
  <section class="mt-1">

    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
      Submit
    </button>
    
    <button class="btn-tailwind ml-2">Button with @apply</button>
  </section>
</div>